

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Saurabh Mahindre's Personal Website
</title>
  <link rel="canonical" href="./index.html">



  <link rel="stylesheet" href="./theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="./theme/css/font-awesome.min.css">
  <link rel="stylesheet" href="./theme/css/pygments/default.min.css">
  <link rel="stylesheet" href="./theme/css/style.css">
  <link rel="stylesheet" href="./theme/css/custom.css">

<meta name="google-site-verification" content="okLWP5fGI7wrzeu6Fv1uwqYaVelfHFinHnu52Flz_jM" />
<meta name="description" content="Saurabh Mahindre's Personal Website">
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']]
    }
  };
</script>
</head>
<body>


  <div class="main">
    <div class="container">
      <h1>
</h1>

    <div class="container">
{{content}}
</div>


</body>

